* {
  padding: 0;
  margin: 0;
}

.divmain {
  position: relative;
  float: right; !important
  z-index: 2;
  width: 800px;
  height: 800px;
  z-index: 1;
  margin-top: 10px;
  margin-right: 10px;

}

.text {
  position: absolute;
  background-color: white;
  text-align: right;
  z-index: 3;
  font-weight: bold;
  font-size: 15px;
  padding: 8px;

  }
p{
  margin-top: 15px;
}
img{
  position: absolute;
  z-index: 1
}
